body {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}
body[Attributes Style] {
    direction: ltr;
    unicode-bidi: isolate;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
Style Attribute {
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif;
    background-color: #fafafa;
}
html:not(.style-scope) {
    --yt-live-chat-action-panel-background-color: hsla(0, 0%, 93.3%, .4);
    --yt-live-chat-action-panel-background-color-transparent: hsla(0, 0%, 97%, .8);
    --yt-live-chat-primary-text-color: hsl(0, 0%, 6.7%);
    --yt-live-chat-secondary-text-color: hsla(0, 0%, 6.7%, .6);
    --yt-live-chat-tertiary-text-color: hsla(0, 0%, 6.7%, .4);
    --yt-live-chat-disabled-icon-button-color: hsla(0, 0%, 6.7%, .2);
    --yt-live-chat-picker-button-color: hsla(0, 0%, 6.7%, .4);
    --yt-formatted-string-emoji-size: 24px;
    --yt-live-chat-text-input-field-suggestion-background-color: hsl(0, 0%, 100%);
    --yt-live-chat-text-input-field-suggestion-background-color-hover: #eee;
    --yt-live-chat-text-input-field-suggestion-text-color: #666;
    --yt-live-chat-text-input-field-suggestion-text-color-hover: #333;
    --yt-emoji-picker-category-background-color: var(--yt-live-chat-action-panel-background-color-transparent);
    --yt-emoji-picker-category-color: var(--yt-live-chat-secondary-text-color);
    --yt-emoji-picker-category-button-color: var(--yt-live-chat-picker-button-color);
    --yt-emoji-picker-search-background-color: hsla(0, 0%, 100%, .6);
    --yt-emoji-picker-search-color: hsla(0, 0%, 6.7%, .8);
    --yt-emoji-picker-search-placeholder-color: hsla(0, 0%, 6.7%, .6);
}
html:not(.style-scope) {
    --paper-input-container-shared-input-style_-_vertical-align: var(--paper-input-container-input-align, baseline);
    --paper-input-container-shared-input-style_-_font-family: var(--paper-font-subhead_-_font-family);
    --paper-input-container-shared-input-style_-_-webkit-font-smoothing: var(--paper-font-subhead_-_-webkit-font-smoothing);
}
html:not(.style-scope) {
    --yt-button-margin: 0;
    --yt-button-padding: 10px 16px;
    --yt-button-padding-minus-border: 9px 15px;
    --yt-button-border-radius: 2px;
}
html:not(.style-scope) {
    --ytd-z-index-notification: 2024;
    --ytd-z-index-miniplayer: 2025;
    --ytd-thumbnail-height: 118px;
    --ytd-grid-thumbnail_-_height: var(--ytd-thumbnail-height);
    --ytd-default-promo-panel-renderer-height: 600px;
}
html:not(.style-scope) {
    --ytd-searchbox-border-color: hsla(0, 0%, 53.3%, .2);
    --ytd-searchbox-legacy-border-color: #ccc;
    --ytd-searchbox-legacy-border-shadow-color: #eee;
    --ytd-searchbox-legacy-button-color: #f8f8f8;
    --ytd-searchbox-legacy-button-border-color: #d3d3d3;
    --ytd-searchbox-legacy-button-focus-color: #e9e9e9;
    --ytd-searchbox-legacy-button-hover-color: #f0f0f0;
    --ytd-searchbox-legacy-button-hover-border-color: #c6c6c6;
    --ytd-searchbox-legacy-button-icon-color: #333;
    --ytd-moderation-panel-background: hsla(0, 0%, 93.3%, .6);
    --ytd-moderation-panel-hover: hsla(0, 0%, 93.3%, .8);
    --ytd-moderation-panel-comment-text: hsl(0, 0%, 6.7%);
    --ytd-moderation-panel-comment-metadata-text: hsla(0, 0%, 6.7%, .6);
    --ytd-moderation-icon-color: hsla(0, 0%, 6.7%, .6);
    --ytd-moderation-icon-hover-color: hsl(0, 0%, 6.7%);
    --ytd-comment-text-color: hsl(0, 0%, 6.7%);
    --ytd-comment-metadata-text-color: var(--yt-spec-text-secondary);
    --ytd-watch-card-secondary-text-color: hsl(0, 0%, 53.3%);
    --ytd-watch-card-album-header-background: hsl(0, 0%, 100%);
    --ytd-backstage-metadata-text-color: hsl(0, 0%, 53.3%);
    --ytd-backstage-video-link-background-color: hsla(0, 0%, 93.3%, .4);
    --ytd-backstage-image-alert-color: hsla(0, 0%, 6.7%, .6);
    --ytd-backstage-cancel-background-color: hsl(0, 0%, 100%);
    --ytd-backstage-cancel-color: hsla(0, 0%, 6.7%, .4);
    --ytd-backstage-attachment-background-color: hsl(0, 0%, 100%);
    --ytd-backstage-creationbox-background-color: hsl(0, 0%, 98%);
    --ytd-backstage-creationbox-background-color-focus: hsl(0, 0%, 96%);
    --ytd-backstage-creationbox-inactive-color: hsla(0, 0%, 0%, .26);
    --ytd-backstage-creationbox-text-color: hsla(0, 0%, 0%, .54);
    --ytd-backstage-creationbox-input-text-color: hsla(0, 0%, 0%, .87);
    --ytd-backstage-creationbox-disabled-button-color: hsla(0, 0%, 0%, .04);
    --ytd-backstage-creationbox-disabled-button-text-color: hsl(0, 0%, 100%);
    --ytd-backstage-attachment-icon-hover-color: hsla(0, 0%, 0%, .74);
    --ytd-sponsorships-background-color-focus: hsla(0, 0%, 93.3%, .4);
    --ytd-badge-background: hsla(0, 0%, 93.3%, .6);
    --ytd-badge-disabled-color: hsla(0, 0%, 53.3%, .4);
    --ytd-collection-badge-color: hsla(0, 0%, 6.7%, .8);
    --ytd-owner-badge-color: hsla(0, 0%, 6.7%, .4);
    --ytd-simple-badge-color: hsla(0, 0%, 6.7%, .6);
    --ytd-ad-badge-text-color: hsl(0, 0%, 100%);
    --ytd-shopping-product-info: hsla(0, 0%, 6.7%, .8);
    --ytd-transcript-cue-hover-background-color: hsl(0, 0%, 93.3%);
    --ytd-transcript-toolbar-background-color: hsl(0, 0%, 93.3%);
    --ytd-transcript-toolbar-text: hsl(0, 0%, 6.7%);
    --ytd-video-publish-date-color: hsla(0, 0%, 6.7%, .6);
    --ytd-vat-notice-text: hsla(0, 0%, 6.7%, .6);
    --ytd-offer-background-color: hsla(0, 0%, 93.3%, .4);
    --ytd-video-game-watch-card-logo-color: hsl(0, 0%, 6.7%);
    --ytd-watch-split-pane-sidebar-background-color: hsl(0, 0%, 98%);
}
html:not(.style-scope) {
    --paper-dialog-background-color: var(--yt-spec-brand-background-solid);
    --paper-listbox-background-color: var(--yt-spec-brand-background-solid);
    --paper-listbox-color: var(--yt-spec-text-primary);
    --paper-spinner-layer-1-color: var(--yt-spec-icon-inactive);
    --paper-spinner-layer-2-color: var(--yt-spec-icon-inactive);
    --paper-spinner-layer-3-color: var(--yt-spec-icon-inactive);
    --paper-spinner-layer-4-color: var(--yt-spec-icon-inactive);
    --paper-spinner-color: var(--yt-spec-icon-inactive);
    --paper-input-container-focus-color: var(--yt-spec-themed-blue);
    --paper-input-container-input-color: var(--yt-spec-text-primary);
    --paper-checkbox-unchecked-color: var(--yt-spec-icon-inactive);
    --paper-checkbox-unchecked-ink-color: var(--yt-spec-icon-inactive);
    --paper-checkbox-checked-color: var(--yt-spec-icon-active-button-link);
    --paper-checkbox-checked-ink-color: var(--yt-spec-icon-active-button-link);
    --paper-checkbox-label-color: var(--yt-spec-text-primary);
    --paper-checkbox-size: 20px;
    --paper-checkbox-checkmark-color: var(--yt-spec-text-primary-inverse);
    --paper-radio-button-unchecked-color: var(--yt-spec-icon-inactive);
    --paper-radio-button-unchecked-ink-color: var(--yt-spec-icon-inactive);
    --paper-radio-button-checked-color: var(--yt-spec-icon-active-button-link);
    --paper-radio-button-checked-ink-color: var(--yt-spec-icon-active-button-link);
    --paper-radio-button-label-spacing: 16px;
    --paper-radio-button-label-color: var(--yt-spec-text-primary);
    --paper-toggle-button-unchecked-bar-color: var(--yt-spec-icon-disabled);
    --paper-toggle-button-unchecked-button-color: var(--yt-spec-icon-inactive);
    --paper-toggle-button-checked-bar-color: var(--yt-spec-icon-disabled);
    --paper-toggle-button-checked-button-color: var(--yt-spec-icon-active-button-link);
    --paper-toggle-button-checked-ink-color: var(--yt-spec-icon-active-button-link);
    --paper-toggle-button-unchecked-ink-color: var(--yt-spec-touch-response);
    --yt-icon-width: 40px;
    --yt-icon-height: 40px;
    --yt-search-correction-corrected_-_color: var(--yt-spec-text-primary);
    --yt-search-correction-original_-_color: var(--yt-spec-text-primary);
    --yt-endpoint_-_color: var(--yt-endpoint-color, var(--yt-spec-text-primary));
    --yt-endpoint-hover_-_color: var(--yt-endpoint-hover-color, var(--yt-spec-text-primary));
    --yt-endpoint-hover_-_text-decoration: var(--yt-endpoint-text-decoration, none);
    --yt-notification-button-bubble_-_color: var(--yt-swatch-important-text, hsl(0, 0%, 100%));
    --yt-notification-button-bubble_-_background-color: var(--yt-spec-brand-button-background);
}
html:not(.style-scope) {
    --ytd-thumbnail-badge_-_color: var(--yt-spec-static-brand-white);
    --ytd-thumbnail-badge_-_background-color: var(--yt-spec-static-overlay-background-heavy);
}
html:not(.style-scope) {
    --yt-swatch-icon-color: hsla(0, 0%, 6.7%, .4);
    --yt-swatch-primary: hsl(0, 0%, 100%);
    --yt-swatch-primary-darker: rgb(230, 230, 230);
    --yt-swatch-text: hsla(0, 0%, 6.7%, .4);
    --yt-swatch-input-text: hsl(0, 0%, 6.7%);
    --yt-swatch-textbox-bg: rgb(255, 255, 255);
}
html:not(.style-scope) {
    --paper-font-common-base_-_font-family: 'Roboto', 'Noto', sans-serif;
    --paper-font-common-base_-_-webkit-font-smoothing: antialiased;
    --paper-font-title_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-title_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-subhead_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-subhead_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-body1_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-body1_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-caption_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-caption_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
}
html:not(.style-scope) {
    --primary-text-color: #212121;
    --disabled-text-color: #9b9b9b;
    --divider-color: #dbdbdb;
}
html:not(.style-scope) {
    --yt-spec-brand-background-solid: #FFFFFF;
    --yt-spec-brand-background-primary: rgba(255, 255, 255, 0.98);
    --yt-spec-brand-background-secondary: rgba(255, 255, 255, 0.95);
    --yt-spec-feed-background-a: #F9F9F9;
    --yt-spec-feed-background-b: #F3F3F3;
    --yt-spec-feed-background-c: #EDEDED;
    --yt-spec-error-background: #1F1F1F;
    --yt-spec-text-primary: #0A0A0A;
    --yt-spec-text-primary-inverse: #FFFFFF;
    --yt-spec-text-secondary: #606060;
    --yt-spec-text-disabled: #909090;
    --yt-spec-icon-active-button-link: #065FD4;
    --yt-spec-icon-active-other: #606060;
    --yt-spec-icon-inactive: #909090;
    --yt-spec-icon-disabled: #CCCCCC;
    --yt-spec-badge-chip-background: rgba(0, 0, 0, 0.05);
    --yt-spec-suggested-action: #F2F8FF;
    --yt-spec-button-chip-background-hover: rgba(0, 0, 0, 0.10);
    --yt-spec-touch-response: #000000;
    --yt-spec-filled-button-text: #FFFFFF;
    --yt-spec-call-to-action-inverse: #3EA6FF;
    --yt-spec-brand-icon-inactive: #606060;
    --yt-spec-brand-button-background: #FF0000;
    --yt-spec-brand-link-text: #CC0000;
    --yt-spec-wordmark-text: #282828;
    --yt-spec-10-percent-layer: rgba(0, 0, 0, 0.10);
    --yt-spec-themed-blue: #065FD4;
    --yt-spec-themed-green: #107516;
    --yt-spec-static-brand-red: #FF0000;
    --yt-spec-static-brand-white: #FFFFFF;
    --yt-spec-static-brand-black: #282828;
    --yt-spec-static-overlay-background-heavy: rgba(0, 0, 0, 0.80);
    --yt-spec-static-overlay-background-medium: rgba(0, 0, 0, 0.60);
    --yt-spec-static-overlay-background-light: rgba(0, 0, 0, 0.10);
    --yt-spec-static-overlay-icon-active-call-to-action: #3EA6FF;
    --yt-spec-static-overlay-text-primary: #FFFFFF;
}
html:not(.style-scope) {
    --yt-std-body-300: hsla(0, 0%, 0%, .54);
    --yt-std-surface-200: hsl(0, 0%, 98%);
    --yt-std-surface-300: hsl(0, 0%, 96%);
    --yt-std-surface-400: hsl(0, 0%, 93%);
    --yt-primary-color: hsl(0, 0%, 6.7%);
    --yt-primary-text-color: hsl(0, 0%, 6.7%);
    --yt-hovered-text-color: hsla(0, 0%, 6.7%, .8);
    --yt-secondary-text-color: hsla(0, 0%, 6.7%, .8);
    --yt-tertiary-text-color: hsla(0, 0%, 6.7%, .6);
    --yt-placeholder-text-color: hsla(0, 0%, 6.7%, .6);
    --yt-border-color: hsl(0, 0%, 93.3%);
    --yt-commentbox-border-inactive: hsl(0, 0%, 93.3%);
    --yt-commentbox-border-active: hsla(0, 0%, 6.7%, .6);
    --yt-primary-disabled-button-text-color: hsl(0, 0%, 100%);
    --yt-paper-button-ink-color: hsl(0, 0%, 53.3%);
    --yt-icon-color: hsla(0, 0%, 6.7%, .4);
    --yt-icon-hover-color: hsla(0, 0%, 6.7%, .8);
    --yt-icon-disabled-color: hsla(0, 0%, 6.7%, .6);
    --yt-icon-active-color: hsl(0, 0%, 6.7%);
    --yt-expand-color: hsla(0, 0%, 6.7%, .6);
    --yt-placeholder-text: hsla(0, 0%, 6.7%, .6);
    --yt-playlist-background-header: hsl(0, 0%, 93.3%);
    --yt-playlist-background-item: hsla(0, 0%, 93.3%, .6);
    --yt-playlist-title-text: hsl(0, 0%, 6.7%);
    --yt-playlist-message-text: hsla(0, 0%, 6.7%, .6);
    --yt-playlist-message-text-hover: hsl(0, 0%, 6.7%);
    --yt-subscribe-button-text-color: hsl(0, 0%, 100%);
    --yt-button-active-color: hsl(0, 0%, 6.7%);
    --yt-copyright-text: hsla(0, 0%, 6.7%, .6);
    --yt-guide-entry-text-color: hsla(0, 0%, 6.7%, .8);
    --yt-thumbnail-placeholder-color: hsl(0, 0%, 89%);
    --yt-featured-channel-title-text-color: hsla(0, 0%, 0%, .54);
    --yt-formatted-string-deemphasize-color: hsl(0, 0%, 53.3%);
    --yt-alert-background: hsla(0, 0%, 93.3%, .4);
    --yt-video-secondary-info-description-background: hsla(0, 0%, 93.3%, .6);
    --yt-searchbox-text-color: var(--yt-primary-text-color);
    --yt-material-searchbox-inactive: hsla(0, 0%, 93.3%, .6);
    --yt-material-searchbox-active: hsl(0, 0%, 100%);
    --yt-material-searchbox-inactive-shadow: hsla(0, 0%, 53.3%, .2);
    --yt-material-searchbox-active-shadow: hsla(0, 0%, 0%, .26);
    --yt-material-searchbox-inset: hsla(0, 0%, 0%, .04);
    --yt-material-searchbox-text-color: var(--yt-primary-text-color);
    --yt-simple-menu-header-background: hsl(0, 0%, 93.3%);
    --yt-item-section-header-color: hsla(0, 0%, 6.7%, .6);
    --yt-menu-hover-backgound-color: hsl(0, 0%, 93.3%);
    --yt-menu-focus-background-color: hsla(0, 0%, 6.7%, .2);
    --yt-chat-bubble-other-border-color: #CCCCCC;
    --yt-chat-bubble-other-background-color: #F9F9F9;
    --yt-chat-bubble-self-border-color: #CCCCCC;
    --yt-chat-bubble-self-background-color: #EDEDED;
Show All Properties (9 more)
}
direction:
ltr
;
display:
block
;
font-family:
Roboto, Arial, sans-serif
;
font-size:
10px
;
he
